<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- STYLES-->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="/css/app.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap" rel="stylesheet">
    <!-- TITLE-->
    <title>Meeti - <%- namePage %> </title>
</head>
<body>

    <header class="site-header contenedor">
        <a href="/">
            <img src="/img/logo.png" alt="Logo meeti">
        </a>

        <nav class="nav">
            <a href="#">Crear Grupo</a>
            <a href="/auth/login">Iniciar Sesion</a>
            <a href="/auth/register">Crear Cuenta</a>
        </nav>
    </header>

<% if (locals.messages && Object.keys(locals.messages).length) { %>
  <% const category = Object.keys(locals.messages)[0]; %>
  <% const alerts = locals.messages[category]; %>
  <% if (alerts && alerts.length) { %>
    <% alerts.forEach(alerta => { %>
      <div class="alerta <%= category %>">
        <p><%= alerta %></p>
      </div>
    <% }) %>
  <% } %>
<% } %>

    <%- body %>

    <footer class="site-footer contenedor">
        <nav class="nav">
            <a href="#">Crear Grupo</a>
            <a href="/auth/login">Iniciar Sesion</a>
            <a href="/auth/register">Crear Cuenta</a>
        </nav>

        <p class="copyright">Todos los derechos son reservados. Meeti 2025 &copy;</p>
    </footer>
</body>
</html>