<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- STYLES -->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="/css/app.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap" rel="stylesheet">
    <title>Meeti | <%- namePage %> </title>
</head>
<body>
    <!-- HEADER -->
    <header class="site-header contenedor">
        <a href="/">
            <img src="/img/logo.png" alt="logo de meeti">
        </a>

        <nav class="nav">
            <a href="#">Crear Grupo</a>
            <a href="#">Iniciar Sesion</a>
            <a href="/register">Registrate</a>
        </nav>
    </header>

    <!-- FLASH -->
    <% const categories = Object.keys(message) %>
    <% if (categories.length) { %>
        <% message[categories].forEach(alerta => { %>
            <div class="alertas">
                <p class="alerta <%= categories %>"> <%= alerta %> </p>
            </div>
        <% }) %>
    <% } %>

    <!-- BODY -->
    <%-  body %>
    <!-- FOOTER -->
    <footer class="site-footer contenedor">
        <nav class="nav">
            <a href="#">Crear Grupo</a>
            <a href="#">Iniciar Sesion</a>
            <a href="/register">Registrate</a>
        </nav>

        <p class="copyright">Todos los derechos reservados Meeti 2025 &copy;</p>
    </footer>
</body>
</html>