<main class="contenedor contenedor-formularios">
    <h1> <%- namePage%> </h1>
    
    <form action="/settings/change-password/<%=user.code%>" method="POST" class="default-form">

        <div class="campo">
            <label for="email">Contraseña actual</label>
            <input type="password" name="beforePassword" id="beforePassword" placeholder="************">
        </div>
        
        <div class="campo">
            <label for="password">Nueva contraseña</label>
            <input type="password" name="newPassword" id="newPassword" placeholder="**********">
        </div>
        
        <div class="campo enviar">
            <input type="submit" value="Cambiar contraseña" class="btn btn-rosa">
        </div>
    </form>
</main>