<div class="contenedor proximos-eventos">
    <h1><%= namePage %></h1>
    <div class="grid columnas-md-3 ">
        <div class="card">
            <img src="/img/imagen1.jpg">
            <div class="card-texto">
                <p class="fecha">Jueves 30 De Diciembre de 2019</p>
                <a href="#">
                    <h3>Desarrollo y Aceleración de Negocios</h3>
                </a>
                <div class="info-autor">
                    <div class="imagen">

                    </div>
                    <div class="informacion">
                        <p>Organizado por:</p>
                        <p class="autor">Juan Pablo De la torre Valdez</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="card">
            <img src="/img/imagen2.jpg">
            <div class="card-texto">
                <p class="fecha">Jueves 30 De Diciembre de 2019<</p>
                <a href="#">
                    <h3>Desarrollo y Aceleración de Negocios</h3>
                </a>
                <div class="info-autor">
                    <div class="imagen">
                        
                    </div>
                    <div class="informacion">
                        <p>Organizado por:</p>
                        <p class="autor">Juan Pablo De la torre Valdez</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="card">
            <img src="/img/imagen3.jpg">
            <div class="card-texto">
                <p class="fecha">Jueves 30 De Diciembre de 2019</p>
                <a href="#">
                    <h3>3 Tipos de Pizza</h3>
                </a>
                <div class="info-autor">
                    <div class="imagen">
                        
                    </div>
                    <div class="informacion">
                        <p>Organizado por:</p>
                        <p class="autor">Juan Pablo De la torre Valdez</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>