<section class="encabezado-evento">
    <div class="contenedor">
        <div class="resumen-evento">
            <h1>Nombre Evento</h1>
            <div class="info-autor">
                <figure class="imagen">
                    <img src="" alt="">
                </figure>
                <div class="informacion">
                    <p>Organizador por: </p>
                    <p class="autor">
                        <a href="">Miguel</a> Creador de:
                        <a href="">Node Colombia</a>
                    </p>
                </div>
            </div> <!-- Info autor-->
        </div> <!--Resumen Evento-->
        
        <div class="pregunta-asistencia">
            <p>¿Asistirás?</p>
            <a href="#" class="btn btn-azul">Si Asistire</a>
        </div>
    </div>
</section>


<section class="contenido-evento">
    <div class="contenedor">
        <div class="informacion-evento">
            <div class="descripcion">
                <!-- Imagen del Meeti -->
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam eligendi ad odio ratione quidem sapiente suscipit laborum repudiandae optio nesciunt enim magni assumenda, id unde voluptates doloribus, culpa reiciendis eius.</p>
            </div>
            <!-- Asistentes -->
            <div class="asistentes">
                <div class="titulo">
                    <h3>Asistentes</h3>
                    <a href="#">Ver Todos</a>
                </div>
            </div>
            <!-- Commentarios -->
            <h2>Comentarios</h2>
            <div class="comentario">
                <figure class="imagen"></figure>
                <div class="texto">
                    <p>Hola</p>
                    <p>Escrito por: <span>Miguel Ortiz</span></p>
                    <input type="button" value="Eliminar" class="btn btn-azul">
                </div>
            </div>

            <div class="comentario">
                <figure class="imagen"></figure>
                <div class="texto">
                    <p>Hola</p>
                    <p>Escrito por: <span>Miguel Ortiz</span></p>
                </div>
            </div>


            <!-- Formulario Comentarios -->
                <form action="#" class="default-form comentarios">
                    <legend>Agrega un comentario</legend>
                    <div class="campo">
                        <label for="comment">Comentario</label>
                        <textarea name="comment"></textarea>
                    </div>
                    <div class="campo enviar">
                        <input type="submit" value="Enviar" class="btn btn-rosa">
                    </div>
                </form>
            <!-- / Formulario Comentarios -->
            


        </div>
        <aside class="información">
            <div class="fecha">
                <p>30 de Agosto de 2019, 20:30 horas</p>
            </div>
            <div class="ubicacion">
                <p>Avenida Siempre Viva</p>
            </div>
        </aside>
    </div>
</section>